apache-airflow-providers-google
pyarrow
apache-airflow>=2.10.3 # not directly required, pinned by Snyk to avoid a vulnerability
cryptography>=43.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
